<h1><%= t('dashboard') %></h1>

<div class="left">
  <%= link_to t('expenses.new'), new_expense_path, class: "btn btn-lg btn-primary" %>
  <%= link_to t('expenses.show'), expenses_path, class: "btn btn-lg btn-primary" %>
</div>

